html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #3e1648;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    color: #a978a5 ;
    padding: 15px 15px;
    margin-right: 5px ;
}

.btn {
    background-color: #3e1648;
    color: white;
    border: 1px solid white;
}

#home {
    color: #3e1648;
}

#home img {
    width: 404px;
    height:500px;
    padding-top: 50px;
    margin-bottom: 50px;
}

#pc {
    color: #3e1648;
}

#pc img {
    width: 404px;
    height:500px;
    padding-top: 50px;
    margin-bottom: 50px;
}

#produtos_card {
    background-color: #3e1648;
    color: #3e1648;
    padding-top: 20px;
    padding-bottom: 20px;

}

.card {
    margin: 0 0 0 0;
    width: 90%;
}

#display {
    margin-top: 10px;
}

#display h1 {
    font-weight: bold;
    color: #3e1648;
}

#produtos {
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#produtos .container {
    position: relative;
    padding: 25px;
}

.produto {
    margin-bottom: 50px;
}

.produto-imagem img {
    display: block;
    width: 200px;
    margin-right: 20px;
}

#produtos h1 {
    color: black;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 30px;
}

#produtos p {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}

#produtos h2 {
    font-size: 35px;
    font-weight: 900;
    color: red;
}

#produtos .btn {
    margin-left: 50px;
    margin-top: 72px;
    padding: 15px;
    letter-spacing: 2px;
    border: 1px solid #3e1648;
}

footer {
    background-color: #3e1648;
    color: white;
    margin-top: auto;
}